{% extends 'base.html' %}

{% block content %}

<div class="card card-body">
<h1 class="text-center">About</h1>
<br>
<p class="text-center">¡Hola! Soy Luis Ruiz Peña, un apasionado de la ingeniería en informática de 19 años. Desde pequeño, he encontrado fascinación en explorar y crear soluciones innovadoras a través de la tecnología. Actualmente, estudio ingeniería en informática con el objetivo de profundizar mis conocimientos y habilidades en desarrollo de software, inteligencia artificial y ciberseguridad.

    Este portafolio es más que una colección de proyectos; es el resultado de mi dedicación y curiosidad por aprender y aplicar mis conocimientos en el mundo real. Aquí podrás explorar diferentes proyectos que reflejan mi enfoque en la calidad, la eficiencia y el impacto positivo.
    
    Mi motivación va más allá de escribir código; se trata de resolver problemas y mejorar experiencias mediante la tecnología. Estoy emocionado de compartir mi viaje y espero que estos proyectos no solo muestren mi habilidad técnica, sino también mi pasión por crear experiencias que transforman ideas en realidad.
    </p>
</div>
{% endblock %}

