<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
</head>
<body>
    
    <header>
        <h1>Portafolio</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                
                {% if user.is_authenticated %}
                <li>
                    <a href="/logout">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="/register">Register</a>
                </li>
                <li>
                    <a href="/signin">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    

    {% block content %}
    {% endblock %}

    <footer>
        <h3>Luis Ruiz Peña</h3  >
        <h4>Programador</h4>
        <p>luisruizpena03@gmail.com</p>

    </footer>

</body>
</html>